
<head>
    <meta charset="UTF-8">
    <title>Compte Rendu</title>
</head>
<!-- <div style="width:800px; height:1000px; padding:20px; text-align:center; border: 10px solid #787878"> -->
   <div>
    <div>
    <!-- <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878"> -->
           <span style="font-size:50px; font-weight:bold">Compte Rendu de la Reunion</span>
           <br><br>
           <!-- <span style="font-size:25px"><i>logo</i></span> -->
           <br><br>
           <span style="font-size:30px"><b>{{ text }}</b></span><br/><br/>
          
         
           <!--span style="font-size:20px">Lieu: <b> Japon</b></span> <br/><br/><br/><br/>
           <span style="font-size:25px"><i>date</i></span>{{ date }}<br-->
          
    </div>
    </div>